---
layout: ""
page_title: "Provider: 1Password"
description: |-
  Use the 1Password Terraform provider to reference, create, or update logins, passwords, and database items in your 1Password vaults.
---

# 1Password Terraform provider

Use the 1Password Terraform provider to reference, create, or update items in your existing vaults using [1Password Secrets Automation](https://1password.com/secrets).

The 1Password Terraform provider supports using both [1Password Connect Server](https://developer.1password.com/docs/secrets-automation/#1password-connect-server)
and [1Password Service Accounts](https://developer.1password.com/docs/secrets-automation/#1password-service-accounts).
To use a service account token, you must install [1Password CLI](https://developer.1password.com/docs/cli) on the machine running Terraform. Refer to the
[Terraform documentation](https://developer.hashicorp.com/terraform/cloud-docs/run/install-software#only-install-standalone-binaries) to learn how to install 1Password CLI on Terraform Cloud.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Use with service accounts:
Retry mechanism is implemented when using provider with service accounts. Each retry fast forwards to the [service account rate limit](https://developer.1password.com/docs/service-accounts/rate-limits/).

It's recommended to limit the number of parallel resource operations. It can be done by using `-parallelism=n` flag when do `terraform apply`, where `n` is the number of parallel resource operations that defaults to `10`.
```
terraform apply `-parallelism=n`
```

The reason of having retry mechanism is that 1Password doesn't allow parallel modification on the items located in the same vault.
