---
layout: ""
page_title: "Provider: 1Password"
description: |-
  Use the 1Password Terraform provider to reference, create, or update logins, passwords, and database items in your 1Password vaults.
---

# 1Password Terraform provider

Use the 1Password Terraform provider to reference, create, or update items in your existing vaults using [1Password Secrets Automation](https://1password.com/secrets).

The 1Password Terraform provider supports using both [1Password Connect Server](https://developer.1password.com/docs/secrets-automation/#1password-connect-server)
and [1Password SDK](https://developer.1password.com/docs/sdks/).

## Use with 1Password SDK

To use the provider with 1Password Connect you need to

### Authenticate SDK with service account

To authenticate SDK with service account:

1. [Create a service account](https://developer.1password.com/docs/service-accounts/get-started#create-a-service-account)
2. Set `OP_SERVICE_ACCOUNT_TOKEN` environment variable or `service_account_token` in the provider configuration.

### Authenticate the SDK with user account using biometric unlock

To authenticate the SDK with user account using biometric unlock:

1. [Turn on the app integration](https://developer.1password.com/docs/sdks/desktop-app-integrations/)
2. Get the name of your account as it appears at the top of the left sidebar in the 1Password desktop app. Alternatively, in the terminal run `op account ls` to find the account ID. It will print similar output in the console:

```
URL                        EMAIL                                         USER ID
acme.dev.com               test.user@acme.com                            HERE_WILL_BE_REAL_USER_ID
acme.prod.com              prod.user@acme.com                            HERE_WILL_BE_REAL_USER_ID
```

3. Set `OP_ACCOUNT` environment variable or `account` in the provider configuration with the `NAME` or `USER ID` value from the previous step.
4. When the biometric unlock popup appears while running terraform command, [authenticate it using fingerprint or password](https://developer.1password.com/docs/cli/app-integration/#step-2-enter-any-command-to-sign-in).


## Use with 1Password Connect

To use the provider with 1Password Connect you need to
1. [Deploy your Connect server](https://developer.1password.com/docs/connect/get-started#deployment)
2. Set `OP_CONNECT_HOST` environment variable or `url` in the provider configuration.
3. Set `OP_CONNECT_TOKEN` environment variable or `token` in the provider configuration.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

You can set each of the configuration options using environment variables.
Environment variables are a more secure way to set configuration options because they prevent accidentally pushing sensitive values to the project repo.

- `OP_CONNECT_HOST` - The URL where your 1Password Connect API can be found.
- `OP_CONNECT_TOKEN` - A valid token for your 1Password Connect API.
- `OP_SERVICE_ACCOUNT_TOKEN` - A valid 1Password service account token to use with 1Password SDK
- `OP_ACCOUNT` - A valid account's sign-in address or ID to use with 1Password SDK and biometrics unlock.

{{ .SchemaMarkdown | trimspace }}

## Item fields
Refer to [1Password Developer documentation](https://developer.1password.com/docs/cli/item-fields/) to find out about available field types.
